.header {
  height: 4.188rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1.25rem 2rem;
  @media screen and (max-width: 1024px) {
    padding: 1rem 2rem;
  }
  @media screen and (max-width: 576px) {
    padding: 1rem;
  }
  .logoContainer {
    width: 5.938rem;
    height: 1.688rem;
    @media screen and (max-width: 1024px) {
      width: 6.063rem;
      height: 1.688rem;
    }
    .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .showMobileMenuWrapper {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
      z-index: 11;
    }
  }
  .navigation {
    width: 30.313rem;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      position: fixed;
      top: 0;
      right: -1000%;
      transition: 0.6s;
      &.showMenu {
        right: 0;
        width: 83.73%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        z-index: 14;
        background-color: #282828;
        box-sizing: border-box;
        padding: 6.375rem 1.875rem;
        gap: 3.25rem;
      }
    }
    @media screen and (max-width: 1024px) {
      &.showMenu {
        padding: 4.375rem 1.875rem;
        gap: 1.5rem;
      }
    }
    .navElem {
      text-decoration: none;
      color: #fff;
      font-size: 1.25rem;
      transition: 0.6s;
      cursor: pointer;
      &:hover {
        color: #c2f23c;
      }
      @media screen and (max-width: 1024px) {
        font-size: 2rem;
      }
    }
  }
  .burgerMenu {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      position: relative;
      z-index: 15;
      span {
        display: block;
        position: absolute;
        height: 0.094rem;
        width: 100%;
        background: #a6abb3;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0.563rem;
        }
        &:nth-child(2) {
          top: 1.188rem;
        }
        &:nth-child(3) {
          top: 1.813rem;
        }
      }
      &.opened {
        span {
          &:nth-child(1) {
            top: 1.188rem;
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            opacity: 0;
            left: -3.75rem;
          }
          &:nth-child(3) {
            top: 1.188rem;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  &.sticky {
    position: sticky;
    background-color: #282828;
    top: 0;
    z-index: 10;
    box-shadow: 0rem 0.313rem 1.875rem 0rem #07070740;
    @media screen and (max-width: 576px) {
      top: -0.1%;
    }
  }
}
